# ---------------- #
#   Main Configs   #
# ---------------- #
baseurl:
url: https://adamzhangchao.github.io
date_format: "ordinal"
title: Adam
subtitle: "公众号：算法工程师要早睡"
description: "Adam的个人博客，公众号：算法工程师要早睡"
keywords: 算法工程师, 机器学习工程师, Chao Zhang, adamzhangchao, adam, 机器学习工程师要早睡
timezone: Asia/Beijing
encoding: "utf-8"
repository: adamzhangchao/adamzhangchao.github.io
# 如果图片显示不对，那么访问图片所在的地址，刷新缓存
# https://purge.jsdelivr.net/

# 对 css 和 js 资源的 cdn 加速配置
cdn:
    jsdelivr:
        enabled: true
# 可选组件配置
components:
    # 分享
    # weibo,qq,wechat,douban,qzone,linkedin,facebook,twitter
    share:
        enabled: false
        hide-platforms: qq,facebook
    # 不蒜子访问统计
    busuanzi:
        enabled: false
        start_date: 2022-03-06
    # My Popular Repositories
    side_bar_repo:
        enabled: true
        limit: 5
    # 文章字数统计
    word_count:
        enabled: true
    # 页面右上角，以及「关于」页面的二维码
    # 修改图片请替换 assets/images/qrcode.jpg
    qrcode:
        enabled: true
        image_alt: 算法工程师要早睡
    # 维基索引页使用哪种视图，支持 列表（list）/分类（cate）
    wiki:
        view: cate
# 压缩页面内容
compress_html:
  clippings: all
  comments: ["<!--", "-->"]
# 代码高亮风格，支持的 theme 列表见 https://github.com/mzlogin/rouge-themes
highlight_theme: github

# ---------------- #
#      Author      #
# ---------------- #
author: adamzhangchao
organization: 
organization_url: 
github_username: adamzhangchao
location: Beijing, China
email: adamzhangchao@163.com

# ---------------- #
#    Navigation    #
# ---------------- #
navs:
  -
    href: /
    label: 首页

  -
    href: /categories/
    label: 分类

  -
    href: /wiki/
    label: 维基

  -
    href: /links/
    label: 链接

  -
    href: /about/
    label: 关于

# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# ---------------- #
#      Jekyll      #
# ---------------- #
markdown: kramdown
kramdown:
    input: GFM
highlighter: rouge
paginate: 10
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:year/:month/:day/:title/
plugins:
    - jekyll-github-metadata
    - rouge
#     - jekyll-html-pipeline
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
#     - jekyll-mentions
collections:
    wiki:
        output: true
        permalink: /wiki/:path/

# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, gitment, gitalk, utterances
comments_provider: gitalk
# !!!重要!!! 请修改下面这些信息为你自己申请的
# !!!Important!!! Please modify infos below to yours
# https://disqus.com
disqus:
    username: 
# https://imsun.net/posts/gitment-introduction/
gitment:
    owner: adamzhangchao
    repo: blog-comments
    oauth:
        client_id: f32a0e76fd65d83144ed
        client_secret: 06452bfbbc4c374fb4f7ce29618685948f3609e8
# https://github.com/gitalk/gitalk#install
gitalk:
    owner: adamzhangchao
    repo: blog-comments
    clientID: f32a0e76fd65d83144ed
    clientSecret: 06452bfbbc4c374fb4f7ce29618685948f3609e8
# https://utteranc.es/
utterances:
    repo: adamzhangchao/blog-comments
# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : false

# ---------------- #
#      Search      #
# ---------------- #
simple_jekyll_search:
    # 是否支持全文搜索
    fulltext: false
    # 最多显示多少条搜索结果
    limit: 10

# ---------------- #
#      Google      #
# ---------------- #
google:
    analytics_id: UA-80669434-1
    adsense:
        footer: true
        sidebar: true 
        sidebar-detail: true 
        content_header: false
        content_footer: false
